# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
!*/react-native-video
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/.transforms/**
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/generated/source/buildConfig/debug/com/brentvatne/react/BuildConfig.java
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/aar_metadata/debug/aar-metadata.properties
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/annotation_processor_list/debug/annotationProcessors.json
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compile_library_classes_jar/debug/classes.jar
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compile_r_class_jar/debug/R.jar
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compile_symbol_list/debug/R.txt
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_ic_download_done.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-hdpi-v4_ic_download.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_ic_download_done.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-mdpi-v4_ic_download.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_ic_banner.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_ic_download_done.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xhdpi-v4_ic_download.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_ic_download_done.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xxhdpi-v4_ic_download.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xxxhdpi-v4_ic_download_done.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/drawable-xxxhdpi-v4_ic_download.png.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/compiled_local_resources/debug/out/layout_exo_player_control_view.xml.flat
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/incremental/mergeDebugShaders/merger.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/incremental/packageDebugAssets/merger.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/incremental/packageDebugResources/compile-file-map.properties
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/incremental/packageDebugResources/merger.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/ReactBridgeUtils.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DemoDownloadService.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DemoDownloadService$TerminalStateNotificationHelper.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DemoUtil.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DownloadTracker.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DownloadTracker$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DownloadTracker$DownloadManagerListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DownloadTracker$Listener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DownloadTracker$StartDownloadDialogHelper.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/DownloadTracker$WidevineOfflineLicenseFetchTask.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/MonotonicNonNull.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/Track.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/TrackSelectionDialog.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/TrackSelectionDialog$TrackSelectionListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/TrackSelectionDialog$TrackSelectionViewFragment.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/common/VideoTrack.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/AspectRatioFrameLayout.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/DataSourceUtil.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ExoPlayerView.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ExoPlayerView$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ExoPlayerView$ComponentListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/FullScreenPlayerView.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/RawResourceDataSourceFactory.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerConfig.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerLoadErrorHandlingPolicy.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$2.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$3.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$4.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$5.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$6.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$7.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$7$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$7$1$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$8.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$9.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$10.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$OnAudioFocusChangedListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerView$RNVLoadControl.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ReactExoplayerViewManager.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ResizeMode.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/ResizeMode$Mode.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/SubtitleStyle.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/VideoEventEmitter.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/exoplayer/VideoEventEmitter$VideoEvents.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/react/BuildConfig.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/react/ReactVideoPackage.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/react/VideoDecoderPropertiesModule.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/receiver/AudioBecomingNoisyReceiver.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/receiver/BecomingNoisyListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/brentvatne/receiver/BecomingNoisyListener$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/google/ads/interactivemedia/v3/api/AdEvent.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/google/ads/interactivemedia/v3/api/AdEvent$AdEventListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/javac/debug/classes/com/google/android/exoplayer2/ext/ima/ImaAdsLoader$Builder.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/local_only_symbol_list/debug/R-def.txt
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/merged_manifest/debug/AndroidManifest.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/navigation_json/debug/navigation.json
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_manifests/debug/output-metadata.json
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_download_done.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-hdpi-v4/ic_download.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_download_done.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-mdpi-v4/ic_download.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_banner.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_download_done.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xhdpi-v4/ic_download.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_download_done.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xxhdpi-v4/ic_download.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_download_done.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/drawable-xxxhdpi-v4/ic_download.png
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/layout/exo_player_control_view.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/packaged_res/debug/values/values.xml
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/ReactBridgeUtils.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DemoDownloadService.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DemoDownloadService$TerminalStateNotificationHelper.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DemoUtil.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DownloadTracker.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DownloadTracker$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DownloadTracker$DownloadManagerListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DownloadTracker$Listener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DownloadTracker$StartDownloadDialogHelper.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/DownloadTracker$WidevineOfflineLicenseFetchTask.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/MonotonicNonNull.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/Track.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/TrackSelectionDialog.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/TrackSelectionDialog$TrackSelectionListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/TrackSelectionDialog$TrackSelectionViewFragment.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/common/VideoTrack.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/AspectRatioFrameLayout.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/DataSourceUtil.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/DefaultReactExoplayerConfig.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ExoPlayerView.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ExoPlayerView$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ExoPlayerView$ComponentListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/FullScreenPlayerView.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/RawResourceDataSourceFactory.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerConfig.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerLoadErrorHandlingPolicy.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$2.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$3.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$4.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$5.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$6.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$7.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$7$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$7$1$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$8.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$9.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$10.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$OnAudioFocusChangedListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerView$RNVLoadControl.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ReactExoplayerViewManager.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ResizeMode.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/ResizeMode$Mode.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/SubtitleStyle.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/VideoEventEmitter.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/exoplayer/VideoEventEmitter$VideoEvents.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/react/BuildConfig.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/react/ReactVideoPackage.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/react/VideoDecoderPropertiesModule.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/receiver/AudioBecomingNoisyReceiver.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/receiver/BecomingNoisyListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/brentvatne/receiver/BecomingNoisyListener$1.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/google/ads/interactivemedia/v3/api/AdEvent.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/google/ads/interactivemedia/v3/api/AdEvent$AdEventListener.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/google/android/exoplayer2/ext/ima/ImaAdsLoader.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/runtime_library_classes_dir/debug/com/google/android/exoplayer2/ext/ima/ImaAdsLoader$Builder.class
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/outputs/logs/manifest-merger-debug-report.txt
backup/android/buildOutput_2fa6559e287e4da3850b9bacddcac0fe/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
